<div class="w-100 bg-body-tertiary py-5">
    <div class="w-100 text-center">
            <h2 class="fs-1 text-special">About</h2>
            <p class="fs-3 text-special fw-light">Our Product Is The Best In Egypt</p>
    </div>
    <div class="w-75 mx-auto row g-3">
        <div class="col-lg-3 rounded-3" *ngFor="let pro of products">
            <div class="w-100 rounded-3 overflow-hidden scaling cursor-pointer">
                <div class="w-100 rounded-3 position-relative">
                    <img [src]="pro.img" [alt]="pro.title" class="w-100 rounded-3">
                    <div class="layer">
                        <h4>{{pro.title}}</h4>
                        <p>{{pro.description}}</p>
                        <p class="fw-bold">{{pro.price}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>