<div class="w-100 pt-5 mt-5">
    <div class="w-100 text-center">
        <h2 class="fs-1 text-special">Contact Us</h2>
        <p class="fs-3 text-special fw-light">A Way To Communicate With Us</p>
    </div>
    <div class="w-75 mx-auto">
        <div class="w-75 mx-auto">
            <form>
                <div class="d-flex justify-content-between w-100 flex-wrap mb-2">
                    <div class="w-48 w-r-100 mb-r-2"><input type="text" placeholder="First Name" class="form-control w-100"></div>
                    <div class="w-48 w-r-100"><input type="text" placeholder="Last Name" class="form-control w-100"></div>
                </div>
                <div class="w-100 mb-2"><input type="email" placeholder="E-Mail" class="w-100 form-control"></div>
                <div class="w-100 mb-2"><input type="tel" placeholder="Phone Number" class="w-100 form-control"></div>
                <div class="w-100 mb-2"><input type="text" placeholder="Address" class="w-100 form-control"></div>
                <div class="w-100 mb-4">
                <textarea rows="5" class="w-100 form-control" placeholder="Subject..."></textarea>
                </div>
                <div class="w-100 text-center">
                    <button class="btn btn-outline-danger py-1 px-4 rounded-4" type="button">Send</button>
                </div>
            </form>
        </div>
    </div>
</div>