<div class="w-100 pt-5 mt-5">
    <div class="w-100 text-center">
        <h2 class="fs-1 text-special">Gallery</h2>
        <p class="fs-3 text-special fw-light">Some Of The Employers</p>
    </div>
    <div class="w-75 mx-auto row g-3">
        <div class="col-lg-4 rounded-3" *ngFor="let emp of employers">
            <div class="w-100 rounded-3 overflow-hidden scaling cursor-pointer">
                <div class="w-100 rounded-3 position-relative">
                    <img [src]="emp.empPhoto" [alt]="emp.empName" class="w-100 rounded-3">
                    <div class="layer bg-special">
                        <h4>{{emp.empName}}</h4>
                        <p>{{emp.empPosition}}</p>
                        <div class="emp">
                            <i class="fa-brands fa-facebook fa-lg me-3 cursor-pointer"></i>
                            <i class="fa-brands fa-twitter fa-lg me-3 cursor-pointer"></i>
                            <i class="fa-brands fa-linkedin fa-lg me-3 cursor-pointer"></i>
                            <i class="fa-brands fa-whatsapp fa-lg cursor-pointer"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>